.card {
  perspective: 150rem;
  position: relative;
  height: 56rem;
  overflow: hidden;

  &__side {
    height: 50rem;
    transition: all .8s ease;
    color: white;
    position: absolute;
    top: 5%;
    left: 0;
    width: 90%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 1rem .5rem 1rem rgba($color-black, .1);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &--1{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &--2{
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &--3{
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }

    }

  }

  &:hover &__side--front{
    transform: rotateY(-180deg);
  }

  &:hover &__side--back{
    transform: rotateY(0);
  }

  &__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../img/nat-5.jpg);
    }

    &--2 {
      background-size: cover;
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      url(../img/nat-6.jpg);
    }

    &--3 {
      background-size: cover;
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../img/nat-7.jpg);
    }

  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
    }

    &--3{
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 80%;
      color: $color-grey-dark;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-two;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 100;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-port) {
    height: auto;

    &__side {
      height: auto;
      color: white;
      position: relative;

      &--front {
        padding-bottom: 3rem;
        width: 100%;
      }

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
      }

    }

    &:hover &__side--front{
      transform: rotateY(0);
    }

    &__picture {
      height: 23rem;
      background-size: cover;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

      &--1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(../img/nat-5.jpg);
      }

      &--2 {
        background-size: cover;
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url(../img/nat-6.jpg);
      }

      &--3 {
        background-size: cover;
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url(../img/nat-7.jpg);
      }

    }

    &__cta {
      position: relative;
      top: 13rem;
      width: 100%;
      padding: 2rem;
      margin-top: -4rem;
    }

    &__price-box {
      margin-bottom: 2rem;
    }

    &__price-value {
      font-size: 6rem;
    }
  }

}